.afv-settings-button {
    width: 100%;
    padding: 17px;
    box-sizing: border-box;
    display: block;
}

.afv-start-page-content {
    width: 100%;
    text-align: center;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: underline;
}
